root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,yaml,yml,js,ts,tsx,jsx,vue,html,css,scss}]
indent_size = 2

[*.cs]
csharp_indent_braces = false
csharp_new_line_before_open_brace = all
